 .top-border {
    border-top-style: solid;
    border-width: 1px;
    border-color: #BBB;
}

.side-nav li {}

a:hover {
    text-decoration: none;
}

.highlight {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #BBB;
}
hr { 
    color: #999;
}

.highlight:hover,
.highlight:active {
    background-color: #333;
}

h1,
h2 {
    text-align: center;
}

.content {
    max-width: 70rem;
    margin: auto;
}

p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
    letter-spacing: .08rem;
    color: #424242;
}

@media screen and (min-width: 800px) and (min-height: 720px) {
    .home-card {
        padding-left: 25rem;
        padding-top: 5rem;
    }
    .side-nav {
        list-style-type: none;
        margin: 0;
        padding: 8rem 0 0 0;
        width: 20rem;
        background-color: #EEE;
        height: 100%;
        /* Full height */
        position: fixed;
        /* Make it stick, even on scroll */
        overflow: auto;
        /* Enable scrolling if the sidenav has too much content */
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .side-nav li a {
        display: block;
        padding: 2.125rem 2rem 2.125rem 2rem;
    }
    .side-nav-text {
        font-size: 1.72rem;
        line-height: 1.72rem;
        margin-bottom: 1.75rem;
        font-weight: 300;
        margin-top: 0;
        letter-spacing: .35rem;
        word-spacing: 1.20rem;
        color: #616161 !important;
        margin: 0;
    }
    .side-nav-header-text {
        font-size: 1.72rem;
        line-height: 1.72rem;
        margin-bottom: 1.75rem;
        font-weight: 300;
        margin-top: 0;
        color: #444;
        letter-spacing: .35rem;
        word-spacing: 1.20rem;
        padding: 2.125rem 2rem 2.125rem 2rem;
    }
}

@media screen and (max-width: 800px),
screen and (max-height: 720px) {
    .home-card {
        padding: 6rem 20px 20px 20px;
        background: #f2f2f2;
        transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
    }
    .side-nav {
        display: none;
    }
    .blue-bg {
        background-color: #f2f2f2;
    }
}

.faceimage:active {
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 828px;
    height: 528px;
    animation: spin 4s linear infinite;
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}
