.proj {
    max-width: 1600px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}

@media screen and (min-width: 800px) and (min-height: 720px) {
.home_card {
    position: absolute;    
  width: 700px;
  height: 600px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -350px;
  padding: 30px 50px 50px 50px;
  background: #f2f2f2;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}
.stretch-text {
    text-align:justify;
}
.home_card_title {
    display: realtive;
    padding: 30px 0 0 150px;
}
.faceimage {
    border-radius: 50%;
    float: left;
    width: 128px;
    height: 128px;
}
.title-and-image {
    height: 125px;
    width: 100%;
}
.home_card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
}


@media screen and (max-width: 800px) , screen and (max-height: 720px) {
.home_card { 
    padding: 10px 20px 20px 20px;
    background: #f2f2f2;
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}
.stretch-text {
    display: none;
}
.home_card_title {
    text-align: center;
    display: block;
    padding: 0;
    margin-top: 20px;
}
.faceimage {
    display: block;
    border-radius: 50%;
    margin: auto;
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
    width: 128px;
    height: 128px;
}
.title-and-image {
    height: 220px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blue_bg {
    background-color: #f2f2f2;
}
}


.navbar {
    background-color: #2196F3;
}
.navbar-color {
    color: white;
}
.nav.navbar-nav li a {
   color: #fff;
 }
 .whitecolor{
   color: #fff;
 }

.faceimage:active {
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 828px;
    height: 528px;
        animation:spin 4s linear infinite;
            transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.stretch-text {
    text-align:justify;
}
h1 {
  font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  font-weight: 500;
letter-spacing: .08rem;
    color: #373737;
    font-weight: 700;
    margin-top: 0;
  }

h2 {
    font-size: 2.22rem;
    line-height: 2.2rem;
    margin-bottom: 1.75rem;
    font-weight: 300;
        margin-top: 0;
    color: #878787;
        letter-spacing: .08rem;
}
h3 {
    font-size: 1.72rem;
    line-height: 1.72rem;
    margin-bottom: 1.75rem;
    font-weight: 300;
    margin-top: 0;
    color: #878787;
    letter-spacing: .35rem;
    word-spacing: 1.20rem;
}
h3 a {
        color: #878787;
}


.icons-list {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
        align-items: center;
    justify-content: center;
    
}
.icon-container {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    background-color: blue;
}
.icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -moz-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    font-size: 1.9rem;
    line-height: 1.9rem;
    list-style: none;
    margin: 0 0 2.5rem;
    padding: 0;
}

p a {
    color: #FF5613;
    text-decoration: none;
}
li a {
        color: #373737;
    text-decoration: none;
}
p {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 2.0rem;
    margin-top: 0;
}



hr { 
    border-width: 3px;
    color: #000;
}

