.bg-1 {
    background-color: #77BEF5; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #77BEF5; /* Green */
    color: #ffffff;
}
.container-fluid {
    padding-top: 10%;
    padding-bottom: 90%;
}