 .white-bg {
     background-color: #EEE;
 }
 
 .projWrap {
     max-width: 1500px;
     max-height: 10rem;
     margin-left: auto;
     margin-right: auto;
 }
 
 pre {
     background-color: #EEE;
     border-color: #EEE;
     color: #000;
 }
 article hr {
     border-top: 1px solid #ccc
 }
 h1 {
     color: #424242;
 }
 h2 {
     color: #999;
 }
 h3 {
     color: #212121;
     font-size: 2rem;
     font-style: thin;
 }
 p {
     color: #424242;
 }

 .bannerSubtitle {
 font-size: 1.52rem;
    line-height: 1.72rem;
    margin-bottom: 1.75rem;
    font-weight: 300;
    margin-top: 0;
    color: #878787;
    text-align: center;
 }
 .ProjectBanner {
     width: 150%;
     max-width: none !important;
    display:block;
    margin-left: -25%;
         transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
 }
 
 .proj {
     max-width: 1600px;
     margin-bottom: 20px;
     background-size: cover;
     background-position: center;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
 }
 iframe {
  display: flex;
  justify-content: center;
 }
 
 .container-fluid {
     padding: 3rem 1.5rem 3rem 1.5rem;
 }
 
 .proj:hover {
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 }
 
 .proj1 {
     background-image: url("../img/codebg.jpg");
     */ background-color: #f2f2f2;
     z-index: 10;
 }
 
 .proj2 {
     background-image: url("../img/codebg.jpg");
     */ background-color: #f2f2f2;
     z-index: 9;
 }
 
 .proj3 {
     background-image: url("../img/codebg.jpg");
     */ background-color: #f2f2f2;
     z-index: 8;
 }
 
 .proj4 {
     background-image: url("../img/codebg.jpg");
     */ background-color: #f2f2f2;
     z-index: 7;
 }
 
 .leftColumn {
     float: left;
     width: 50%;
     padding-left: 0px;
 }
 
 .proj-header {
     color: #fff;
     font-size: 2.22rem;
     line-height: 2.2rem;
     margin-bottom: 1.75rem;
     font-weight: 300;
     margin-top: 0;
     letter-spacing: .05rem;
     word-spacing: .16rem
 }
 
 .proj-desc {
     color: #bbb;
 }
 
 .rightColumn {
     float: left;
     width: 50%;
     padding: 0px 20px 10px 30px;
 }
 @media screen and (max-width: 1200px) {
      .ProjectBanner {
     width: 100%;
    margin-left: 0%;

 }

 @media screen and (max-width: 980px) {
     .leftColumn {
         float: left;
         width: 100%;
         padding-left: 0px;
         transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
     }
     .rightColumn {
         float: left;
         width: 100%;
         padding: 0px 20px 10px 30px;
         transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
     }
     .centerSlide {
         margin: auto;
         max-width: 90%;
     }
     
